.bookmarked {
  width: 98%;
  padding: 60px 16px 0 16px;
  box-sizing: border-box;
  h1 {
    font-weight: 300;
    font-size: 28px;
    letter-spacing: -0.312px;
    margin: 40px 0 15px 0;
  }
  .bookmarked-content {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 20%));
    grid-template-rows: repeat(auto, 300px);
    justify-content: flex-start;
    box-sizing: border-box;
  }
}

@media (min-width: 800px) {
  .bookmarked {
    width: calc(95% - 100px);
    margin-left: 150px;

    .bookmarked-content {
      justify-content: space-between;
    }
  }
}
