.movies {
  width: 98%;
  padding: 60px 16px 0 16px;
  box-sizing: border-box;
  padding-bottom: 50px;

  h1 {
    font-weight: 300;
    font-size: 28px;
    letter-spacing: -0.312px;
    margin: 40px 0 15px 0;
  }
  .movies-content {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(1, 95%);
    grid-template-rows: repeat(auto, auto);
    justify-content: center;
    box-sizing: border-box;
  }
}

@media (min-width: 600px) {
  .movies {
    .movies-content {
      justify-content: space-between;
      grid-template-columns: repeat(2, 48%);
    }
  }
}

@media (min-width: 800px) {
  .movies {
    width: calc(95% - 100px);
    margin-left: 150px;
  }
}

@media (min-width: 1000px) {
  .movies {
    .movies-content {
      grid-template-columns: repeat(auto-fill, 300px);
    }
  }
}
