.recommended {
  width: 100%;
  .recommended-content {
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 23%));
    grid-template-rows: repeat(auto, 300px);
    justify-content: center;
  }
}

@media (min-width: 400px) {
  .recommended {
    .recommended-content {
      justify-content: space-between;
    }
  }
}
