.series {
  width: 98%;
  padding: 60px 16px 0 16px;
  box-sizing: border-box;
  h1 {
    font-weight: 300;
    font-size: 28px;
    letter-spacing: -0.312px;
    margin: 40px 0 15px 0;
  }
  .series-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    box-sizing: border-box;
  }
}

@media (min-width: 800px) {
  .series {
    width: calc(95% - 100px);
    margin-left: 150px;

    .series-content {
      justify-content: space-between;
    }
  }
}
