.search {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

  img {
    height: 80%;
  }

  input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-family: var(--font);
    color: var(--pure-white);
    font-size: 16px;
    font-weight: 300;
    &::placeholder {
      color: var(--pure-white);
      font-weight: 200;
      opacity: 0.4979;
    }
    &:focus {
      outline: none;
      border-bottom: 0.8px solid var(--pure-white);
    }
  }
}
