.trending-card {
  color: var(--pure-white);
  background-size: cover;
  width: 240px;
  height: 140px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  .bookmark {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    span {
      background-color: hsla(0, 0%, 0%, 0.267);
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        width: 12px;
        height: 12px;
        padding: 5px;
      }
    }
    &:hover {
      span {
        background-color: hsla(0, 0%, 100%, 0.801);
        img {
          filter: invert(1);
        }
      }
    }
  }
  .info {
    width: 100%;
    div {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 3px;
      span {
        opacity: 0.75;
        font-weight: 300;
        font-size: 15px;
      }
      .category {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
    .title {
      font-weight: 500;
      font-size: 24px;
    }
  }
  .play {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    height: 48px;
    box-sizing: border-box;
    background-color: hsla(0, 0%, 100%, 0.253);
    border-radius: 25px;
    padding: 8px;
  }
  &:hover {
    cursor: pointer;
    filter: brightness(80%);
    transition: all 0.25s ease;
    .play {
      display: flex;
      margin: auto;
    }
  }
}
@media (min-width: 600px) {
  .trending-card {
    width: 470px;
    height: 230px;
  }
}
